body{
    font-family: serif;
    background-color: rgb(255, 255, 255);
}
.container
{
    max-width: 940px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}
.header
{
    color: rgb(32, 93, 121);
    font-size: 50px;
}
.mainContent { background-color: #689092; }
   
#intro-img {
    background-image: url(images/computerIntro.jpg);
    background-position: center;
    background-size: cover;
    min-height: 400px;
  }
  .section-header {
    color: #fcf9f7;
    text-align: center;
    font-weight: 500;
    font-size: 2rem;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  table {
    width: 100%;
    border-spacing: 0px;
  }
       
  td {
    text-align: center;
    padding: 10px 15px;
  }
 
  .text-left { text-align: left; }
   
  th {
    color: #333333;
    font-weight: 400;
    font-size: 1.2rem;
    padding-left: 15px;
    padding-right: 15px;
  }
 
  tr:nth-child(odd) { background-color: #e5e8ed; }
 
 
  tr.tr-header {
    background-color: #b0d4f8;
    height: 50px;
  }
   
  .section {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
  }
  
  .section-small {
    max-width: 490px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
  }

  p {
    font-size: 1rem;
    line-height: 1.7;
  }
 
  .mb-0 { margin-bottom: 0; }
  img { max-width: 100%; }
  figure { margin: 0; }
  figcaption { text-align: center; }

  figcaption span {
    display: block;
    color: #fffafa;
    font-size: 18px;
  }
   
  .item-name {
    margin-top: 20px;
    margin-bottom: 10px;
  }
    
  .special-items {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
  }
  
  .special-item {
    padding-left: 15px;
    padding-right: 15px;
  }
     
  hr {
    width: 60%;
    border: 0.5px solid #ccc;
  }
 
  .contact-link {
    color: #d8d7d7;
    font-weight: 600;
    text-decoration: none;
  }
  
  a { transition: all 0.3s ease; }
  .contact-link:hover { color: #000000; }
  
  .tm-footer-text {
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 30px;
    text-align: left;
  }
 
  .footer-link {
    font-size: 18px;
  }

  .footer-link:hover { color: #fc3535; }

  